/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
/*dl, dt, dd, ol,*/ ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
/*ol, ul {
    list-style: none;
}*/
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



/*
 ===MAIN CSS===
 */

html{
    height: 100%;
}

body{
    width: 800px;
    height: 600px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

/*
===NAVIGATION===
*/

nav{
    margin-top: 5%;
    height: 30px;
    padding: 4px;
    box-sizing: border-box;
/*  background-color: #81b518;*/
    background-image: url("img/navigation-background.jpg");

}

nav ul{
    list-style-type: none;
    margin: 3px 0 0 120px;
}

nav li{
    font-size: 18px;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
    text-align: center;
}

nav a{
    color: white;
    text-decoration: none;
}

#leaf{
    height: 120px;
    position: absolute;
    top: 0;
}

/*
===MIDSECTION CONTENT===
*/

#mid{
    margin-top: 7%;
    height: 420px;
    line-height: 1.5;
    text-align: justify;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;

}

#mid section{
    width: 49.5%;
    vertical-align: top;
}

#mid h1{
    color: #92CD00;
    font-size: 25px;
    text-align: center;
    padding-top: 5%;
}
#mid p{
    color: #192402;
    font-size: 13px;
    padding: 5% 0 0 2%;
}

/*#mid ol{
    list-style: decimal;
    margin: 16px 0 16px 0;
    padding-left: 40px;
}*/

#mid dl{
    font-size: 15px;
    padding-left: 2%;
}


#mid img{
    max-width: 100%;
    max-height: 100%;
}


#mid #img2{
    padding-top: 20%;
}

#mid #img3{
    padding-top: 18%;
}

#unavailable{
    text-decoration: underline;
}

#login_sec{
    padding-top: 10%;
}

#contact{
    background-color: yellow;
}

/*
===FOOTER===
*/

footer{
    height: 30px;
    color: white;
    background-color: #81b518;
    text-align: center;
    width: 800px;
    margin-top: auto;
}

footer p{
    padding-top: 7px;
    padding-bottom: 7px;
}